@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-blue {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    -webkit-backface-visibility: hidden;
  }

  .clip-path-red {
    clip-path: polygon(70% 0, 100% 0, 90% 100%, 38% 100%);
    -webkit-backface-visibility: hidden;
  }
  .bodyColor {
    background-color: #f9fbfd;
  }
}

@layer components {
  .redStripe {
    @apply absolute -right-0 bg-jb-red-light w-32 h-full clip-path-red;
  }
  .loginInput {
    @apply h-10 p-2 rounded-lg focus:outline-jb-blue-light;
  }
  .bigRing {
    @apply absolute -right-2 top-8 w-20 h-20 bg-transparent border-4 border-jb-blue-light rounded-full;
  }
  .ringRed {
    @apply absolute right-20 top-20 w-12 h-12 bg-transparent border-4 border-jb-red rounded-full;
  }
  .ringBlue {
    @apply absolute right-36 top-32 w-12 h-12 bg-transparent border-4 border-jb-blue-light rounded-full;
  }

  .formComponent {
    @apply mb-8;
  }

  .newJobLabel {
    @apply text-sm text-jb-blue font-bold;
  }

  .newJobInput {
    @apply w-full mt-3 bg-white rounded-md h-8 text-lg border border-x-jb-blue outline-none text-gray-600 px-2;
  }
}
